.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  --theme: #ff5cef;

  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  row-gap: 1rem;

  padding: 1rem 1.5rem;
}

@media (prefers-color-scheme: dark) {
  // .page {
  //   --gray-rgb: 255, 255, 255;
  //   --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
  //   --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

  //   --button-primary-hover: #ccc;
  //   --button-secondary-hover: #1a1a1a;
  // }
}

.copyright {
  position: fixed;
  left: 0;
  bottom: 1rem;
  background: linear-gradient(72.83deg, #E0E1DD 6.1%, #BFC6CC 36.35%, #778DA9 92.54%);
  color: var(--white);
  padding: .25rem .5rem;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  --shadow: 0px 9px 4px rgba(63, 93, 116, 0.01), 0px 5px 3px rgba(63, 93, 116, 0.04), 0px 2px 2px rgba(63, 93, 116, 0.07), 0px 1px 1px rgba(63, 93, 116, 0.08), 0px 0px 0px rgba(63, 93, 116, 0.08);
  box-shadow: var(--shadow, 0 0 #0000);

  &:hover {
    color: var(--white);
  }

  &:active {
    box-shadow: unset;
  }
}
.create-card,
.claim-card {
  border-radius: var(--global-border-radius);
  padding: 2rem 2.5rem;

  gap: 1rem;

  small {
    color: #00c3a0;
    font-weight: 600;
  }

  button,a {
    border: none;
    padding: 0.7rem 1.5rem;
    font-weight: 500;
    text-align: center;
    transition: transform 0.2s ease;
    border-radius: var(--global-border-radius);
    cursor: pointer;

    &:hover {
      transform: scale(1.025);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.create-card {
  color: var(--white);
  background-color: var(--color-primary);
  p {
    opacity: 0.9;
  }
  a {
    background-color: rgba(255, 255, 255, 0.25);
    color: var(--white);
  }
}

.claim-card {
  p {
    color: rgba(33, 39, 56, 0.6);
  }
}

.header {
  row-gap: .5rem;

  h3 {
    font-weight: 400;
    font-size: max(1.2rem, 2vmin);
  }

  h1 {
    font-size: max(1.4rem, 4vmin);
    vertical-align: middle;
    font-weight: 700;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  user-select: none;
  width: 100%;
}

.profiles {
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .footer {
    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
