.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

    
}

@media (prefers-color-scheme: dark) {
  // .page {
  //   --gray-rgb: 255, 255, 255;
  //   --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
  //   --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

  //   --button-primary-hover: #ccc;
  //   --button-secondary-hover: #1a1a1a;
  // }
}

.main {
flex:1;


  // --pattern-fg: color-mix(in oklab, var(--grey-90-a50) 5%, transparent);
  // background-attachment: fixed;
  // background-size: 10px 10px;

  //background-image: repeating-linear-gradient(315deg, var(--pattern-fg) 0, var(--pattern-fg) 1px, transparent 0, transparent 50%);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(100%);
  }
}
