
.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  height: 100%;
  padding: 0 0.5rem;

  a {
    padding: 1rem 0;
    background-color: var(--blue-050);
    color: var(--blue-900);
  }

  h4 {
    min-height: 40px;
    padding-top: 1rem;
  }

  output {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;

    ul {
      li {
        span{}
        code {
          background-color: var(--gray-100);
          padding: .1rem .4rem;
          border-radius: 1000px;
          font-size: 10px;
        }
      }
    }
  }
}

.pfp {
  border:1px solid red;
    width: 32px;
    height: 32px;
  img {
    width: 32px;
    height: 32px;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .page {
    padding: .1rem;
    padding-bottom: 80px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(100%);
  }
}
