.page {
  height: 100%;

  &__title {
    font-weight: 600;
    color: var(--black-900);
    margin: 1.2rem 0;
  }

  &__container {
    padding: 1rem 0 0 0;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.04));
    border-radius: var(--global-border-radius);
    overflow: hidden;
    border: 1px solid var(--global-border-color);
    background-color: var(--white, #fff);
    background-image: url('/glass.png');
    background-repeat: no-repeat;
    background-size: 62%;
    background-position: 125% top;
  }
}

.profileWrapper {
  position: relative;
  padding: 2rem 2rem;

  .gift {
    padding: 0.4rem;
    cursor: pointer;
    img {
      width: 16px;
      height: 16px;
    }

    &:hover {
      background-color: var(--gray-50);
    }
  }

  ul {
  }
}

.btnFollowers {
  all: unset;
  cursor: pointer;

  transition: color 0.2s ease-in-out;

  &:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
  }
}

.link {
  color: var(--blue-400);
  text-decoration: none;
  word-break: break-all;
  transition: color 0.2s ease-in-out;
}

.tab {
  border-bottom: 1px solid var(--global-border-color);

  li {
    flex: 1;
    display: flex;
    cursor: pointer;
    color: var(--gray-600);
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--gray-100);
    }

    button {
      all: unset;
      padding: 0.8rem 0;
      text-align: center;
      width: 100%;
      height: 100%;
      border-bottom: 2px solid transparent;
    }
  }
}

.activeTab {
  border-color: var(--blue-400) !important;
  color: var(--black-900) !important;
  font-weight: bold !important;
}

.posts,
.polls,
.activity,
.reposts {
  padding: 8rem 0;
  // background-color: var(--gray-50);

  p {
    color: var(--gray-400);
  }
}

.profile {
  padding: 1px;

  &__pfp {
    width: calc(94px + 1px);
    height: calc(94px + 1px);
    padding: 1px;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
  }

  &__checkmark {
    width: 16px;
    height: 16px;
  }

  &__wallet {
  }

  &__description {
    text-wrap: balance;
    max-width: 70%;
  }

  &__tags {
    li {
      small {
        background-color: var(--gray-100);
        padding: 0.2rem 0.4rem;
        border-radius: 999px;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .page {
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(100%);
  }
}
